:root {
  --primary-colorpage: #598549;
  --secondary-colorpage: #f18744;
}


#master::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  z-index: 10;
  background-image: repeating-linear-gradient(-45deg,
      var(--primary-colorpage),
      var(--primary-colorpage) 50px,
      var(--secondary-colorpage) 50px,
      var(--secondary-colorpage) 100px);
}

.board {
  --deg: 5deg;
  font-size: 3rem;
  padding: 0.5em 1em;
  background: var(--secondary-colorpage);
  border-radius: 5px;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) rotate(calc(-1 * var(--deg)));
}

@media screen and (min-width: 480px) {
  .board {
    font-size: 4rem;
  }
}

.board::before {
  content: '';
  position: absolute;
  top: -50vh;
  height: 50vh;
  display: block;
  left: 30px;
  right: 30px;
  transform: skew(calc(-1 * var(--deg)));
  border: dotted var(--primary-colorpage);
  border-width: 0 8px;
  transform-origin: bottom left;
  padding-bottom: 30px;
}

.board h1 {
  margin: 0;
  font-size: inherit;
}

.board h1::before,
.board h1::after {
  content: '';
  position: absolute;
  top: 16px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.board h1:before {
  left: 24px;
}

.board h1:after {
  right: 24px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}


@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-float {
  display: inline-block;
  animation: float 2s ease-in-out infinite;
}

.bg-white{
  background-color: white;
}