aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alembic==1.14.1
annotated-types==0.7.0
anyio==4.8.0
arabic-reshaper==3.0.0
asn1crypto==1.5.1
async-timeout==5.0.1
attrs==25.1.0
bcrypt==4.3.0
boto3==1.35.91
botocore==1.35.99
Brotli==1.1.0
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.0
cssselect2==0.7.0
distro==1.9.0
dnspython==2.7.0
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.6
fonttools==4.55.3
frozenlist==1.5.0
google-api-core==2.24.0
google-auth==2.38.0
google-cloud-dialogflow==2.38.0
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
idna==3.10
jiter==0.8.2
jmespath==1.0.1
lxml==5.3.0
Mako==1.3.9
MarkupSafe==3.0.2
multidict==6.1.0
mysql-connector-python==9.2.0
openai==0.28.0
oscrypto==1.3.0
passlib==1.7.4
pillow==11.1.0
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.5
pydantic-settings==2.8.0
pydantic_core==2.27.2
pydyf==0.11.0
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
PyMySQL==1.1.1
pypdf==5.2.0
pyphen==0.17.0
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
PyYAML==6.0.2
qrcode==8.0
requests==2.32.3
rsa==4.9
s3transfer==0.10.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.37
starlette==0.41.3
stripe==12.4.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
uritools==4.0.3
urllib3==2.3.0
uvicorn==0.34.0
yarl==1.18.3
