# fly.toml app configuration file generated for globaltty-frontend on 2025-12-08T11:49:23Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'globaltty-frontend'
primary_region = 'gru'

[build]
  [build.args]
    VITE_API_URL = "https://api-globaltty3-little-sea-9182.fly.dev"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
